<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p> © 2019 <a href="http://portal.doh7.net">Department of Health</a>, Region VII</p>
        </div>
    </div>
</div>