<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Municipality</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

    <link href="css/selectize.css" type="text/css" rel="stylesheet">

    <link href="css/pagination.css" type="text/css" rel="stylesheet">

    <!-- Toastr CSS-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <%- include navigation.ejs %>
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include header.ejs %>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Municipality</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <select id="province_filter" class="demo-default">
                                                <option value="">All Province</option>
                                                <option value="Bohol">Bohol</option>
                                                <option value="Cebu">Cebu</option>
                                                <option value="Negros">Negros</option>
                                                <option value="Siquijor">Siquijor</option>
                                            </select>
                                        </div>
                                        <div class="rs-select2--light rs-select2--md">
                                            <select id="district_filter" class="demo-default">
                                                <option value="">All District</option>
                                            </select>
                                        </div>
                                        <!-- <button class="au-btn-filter">
                                            <i class="zmdi zmdi-filter-list"></i>filters</button> -->
                                    </div>
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small"
                                            data-toggle="modal" data-target="#add_municipality">
                                            <i class="zmdi zmdi-plus"></i>add item</button>
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data2 m-b-35">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>Municipality</th>
                                                <th>Province</th>
                                                <th>District</th>
                                                <th>Incumbent Mayor</th>
                                                <th>Population</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table_data">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="pager_container d-flex justify-content-center"></div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include footer.ejs %>
        </div>
    </div>

    <!-- Modal -->
    <div id="add_municipality" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="width: 700px;">
                <div class="modal-header">
                    <h4 class="modal-title">Add Municipality</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div id="error_container"></div>

                    <label>Municipal Name <span class="color-red">*</span></label>
                    <input id="modal_name" type="text" class="au-input au-input--full m-b-10 text-capitalize" />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Province <span class="color-red">*</span></label>
                            <div class="rs-select2--light au-input au-input--full m-b-10" style="height: 45px;">
                                <select id="modal_province" class="js-select2">
                                    <option value="">Select Province</option>
                                    <option value="Bohol">Bohol</option>
                                    <option value="Cebu">Cebu</option>
                                    <option value="Negros">Negros</option>
                                    <option value="Siquijor">Siquijor</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>

                        <div class=" col-md-3">
                            <label>District No. <span class="color-red">*</span></label>
                            <input id="modal_district" type="number" class="au-input au-input--full m-b-10" />
                        </div>

                        <div class=" col-md-3">
                            <label>Population No. <span class="color-red">*</span></label>
                            <input id="modal_population" type="number" class="au-input au-input--full m-b-10" />
                        </div>

                    </div>

                    <label>Incumbent Mayor <span class="color-red">*</span></label>
                    <input id="modal_mayor" type="text" class="au-input au-input--full m-b-10 text-capitalize" />

                    <div class="row">
                        <div class="col-md-8">
                            <label>MHO/CHO Personnel</label>
                            <input id="modal_mho" type="text" class="au-input au-input--full m-b-10 text-capitalize" />
                        </div>

                        <div class=" col-md-4">
                            <label class="invisible">Contact No.</label>
                            <input id="mho_contact" type="text" class="au-input au-input--full m-b-10" placeholder="Contact No." />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <label>PDOH Personnel</label>
                            <input id="modal_pdoh" type="text" class="au-input au-input--full m-b-10 text-capitalize" />
                        </div>

                        <div class=" col-md-4">
                            <label class="invisible">Contact No.</label>
                            <input id="pdoh_contact" type="text" class="au-input au-input--full m-b-10" placeholder="Contact No." />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-8">
                            <label>DMO Personnel</label>
                            <input id="modal_dmo" type="text" class="au-input au-input--full m-b-10 text-capitalize" />
                        </div>

                        <div class=" col-md-4">
                            <label class="invisible">Contact No.</label>
                            <input id="dmo_contact" type="text" class="au-input au-input--full m-b-10" placeholder="Contact No." />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <label>Municipal Engineer</label>
                            <input id="modal_mun_engr" type="text" class="au-input au-input--full m-b-10 text-capitalize" />
                        </div>

                        <div class=" col-md-4">
                            <label class="invisible">Contact No.</label>
                            <input id="mun_engr_contact" type="text" class="au-input au-input--full m-b-10" placeholder="Contact No." />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <label>LGU Personnel</label>
                            <input id="modal_lgu" type="text" class="au-input au-input--full m-b-10 text-capitalize" />
                        </div>

                        <div class=" col-md-4">
                            <label class="invisible">Contact No.</label>
                            <input id="lgu_contact" type="text" class="au-input au-input--full m-b-10" placeholder="Contact No." />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <label>HFEP Point Person</label>
                            <input id="modal_hfep" type="text" class="au-input au-input--full m-b-10 text-capitalize" />
                        </div>

                        <div class=" col-md-4">
                            <label class="invisible">Contact No.</label>
                            <input id="hfep_contact" type="text" class="au-input au-input--full m-b-10" placeholder="Contact No." />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <button id="modal_add" type="button" class="au-btn au-btn-icon au-btn--green au-btn--small"
                        style="width: 82.88px">Add</button>
                    <button id="modal_cancel" type="button" class="au-btn au-btn-icon au-btn--blue au-btn--small"
                        data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <script src="js/main.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/pagination.js"></script>
    <script src="js/municipality.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>
<!-- end document-->